Repository perquis/ft-rt: changes, and which lint-staged commands are due for each by the changed paths.
All: bun test:unit, bun lint, bun format

:wrench: config(.prettierrc.json): Set semi property to true value.
  .prettierrc.json
Due: none

:sparkles: feature(use-event-listener.ts): Created a new custom hook that's called useEventListener.
  src/shared/hooks/use-event-listener.ts
Due: none

:sparkles: feature(use-fetch.ts): Created a new custom hook that's called useFetch.
  src/shared/hooks/use-fetch.ts
Due: none

:building_construction: arch(hooks): Created index.ts file to export all custom hooks to import them from single spot.
  src/shared/hooks/index.ts
  src/shared/hooks/use-event-listener/use-event-listener.ts
  src/shared/hooks/use-fetch/use-fetch.ts
Due: none

:heavy_plus_sign: depadd(jest): Installed new package.
  bun.lockb
  package-lock.json
  package.json
Due: none

:white_check_mark: tests(use-fetch.ts): Added different use cases for this custom hook.
  src/shared/hooks/use-fetch/use-fetch.spec.ts
  src/shared/hooks/use-fetch/use-fetch.ts
Due: bun test:unit

:heavy_plus_sign: depadd(tailwindcss): Added the tailwindcss, autoprefixer and postcss packages to this project.
  bun.lockb
  package-lock.json
  package.json
Due: none

:wrench: config(tailwindcss): Created the config files for this package.
  postcss.config.js
  src/assets/base.css
  src/assets/main.css
  tailwind.config.js
Due: none

:wrench: config(vite): Set server.open to true value.
  vite.config.ts
Due: none

:heavy_plus_sign: depadd(prettier-plugin-tailwindcss): Added a plugin property to the .prettierrc.json config
  .prettierrc.json
  package-lock.json
  package.json
Due: none

:fire: prune(boilerplate): Removed these files because they were unnecessary.
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
  src/components/__tests__/HelloWorld.spec.ts
  src/components/icons/IconCommunity.vue
  src/components/icons/IconDocumentation.vue
  src/components/icons/IconEcosystem.vue
  src/components/icons/IconSupport.vue
  src/components/icons/IconTooling.vue
  src/views/AboutView.vue
  src/views/HomeView.vue
Due: bun test:unit, bun lint, bun format

:lipstick: ui(App): Removed unnecessary components from views.
  .lintstagedrc
  src/router/index.ts
  src/views/UsersListView.vue
Due: bun lint, bun format

:wrench: config(eslint): Updated the eslint configuration file.
  eslint.config.mjs
  package-lock.json
  package.json
  src/main.ts
Due: none

:lipstick: ui(PrimaryButton): Created a Button component.
  src/components/PrimaryButton.vue
Due: bun lint, bun format

:bento: assets(IconPlus): Created a new icon that it's plus shape.
  src/icons/IconPlus.vue
Due: bun lint, bun format

:lipstick: ui(RootLayout): Created a RootLayout component.
  src/App.vue
  src/components/RootLayout.vue
Due: bun lint, bun format

:lipstick: ui(Title): Created a Title component.
  src/components/Title.vue
Due: bun lint, bun format

:lipstick: ui(FlexColumn): Created a FlexColumn to wrap a lot of items to vertical direction.
  src/components/FlexColumn.vue
Due: bun lint, bun format

:art: codestyle(main.css): Added new properties for input with type set to search value.
  src/assets/main.css
Due: none

:card_file_box: db(json-server): Created an users.json file to store users in 'database'.
  package-lock.json
  package.json
  users.json
Due: none

:label: types(user.ts): Created definition type for the user interface.
  src/types/user.ts
Due: none

:lipstick: ui(HomeView): Created new components.
  src/components/Divider.vue
  src/components/FlexColumn.vue
  src/components/PrimaryButton.vue
  src/components/RootLayout.vue
  src/components/Title.vue
  src/components/users-list/SearchBar.vue
  src/components/users-list/UserHeading.vue
  src/components/users-list/UserItem.vue
  src/components/users-list/UsersListTable.vue
  src/icons/IconEdit.vue
  src/icons/IconPlus.vue
  src/icons/IconTrash.vue
  src/icons/SearchIcon.vue
  src/views/UsersListView.vue
Due: bun lint, bun format

:card_file_box: db(users.json): Added id attribute to this model.
  users.json
Due: none

:lipstick: ui(PrimaryButton): Added animation to this component.
  src/components/PrimaryButton.vue
Due: bun lint, bun format

:card_file_box: db(get-users-list): Created a server actions to fetch users lit.
  src/server/actions/get-users-list.ts
Due: none

:lipstick: ui(IconArrowLeft): Added a new icon.
  src/icons/IconArrowLeft.vue
Due: bun lint, bun format

:lipstick: ui(IconArrowRight): Added a new icon.
  src/icons/IconArrowRight.vue
Due: bun lint, bun format

:recycle: refactor(UsersListTable): Used the new function: 'getUsersList' to fetch data from database.
  src/components/users-list/UsersListTable.vue
Due: bun lint, bun format

:lipstick: ui(pagination): Added pagination system to the HomeView page.
  src/components/users-list/Pagination/PaginateButton.vue
  src/components/users-list/Pagination/PaginateViews.vue
  src/views/UsersListView.vue
Due: bun lint, bun format

:wheelchair: a11y(PaginateViews): Added new functions that's called paginateTo.
  src/components/users-list/Pagination/PaginateViews.vue
Due: bun lint, bun format

:seedling: seed(users.json): Delete one record from users list.
  users.json
Due: none

:recycle: refactor(PaginateViews): Introduced fixes to this component to be more readability.
  src/components/users-list/Pagination/PaginateViews.vue
  src/components/users-list/UsersListTable.vue
  src/router/index.ts
  src/server/actions/get-users-list.ts
Due: bun lint, bun format

:seedling: seed(users.json): Updated an user interface and database.
  src/types/user.ts
  users.json
Due: none

:iphone: responsive(HomeView): Introduced fixes to resolve issue with layout on the mobile.
  src/components/users-list/UserHeading.vue
  src/components/users-list/UserItem.vue
  src/components/users-list/UsersListTable.vue
Due: bun lint, bun format

:sparkles: feature(HomeView): Added searching for the users.
  src/components/users-list/SearchBar.vue
  src/components/users-list/UserItem.vue
  src/components/users-list/UsersListTable.vue
  src/server/actions/get-users-all.ts
  src/stores/search.ts
Due: bun lint, bun format

:heavy_plus_sign: depadd(concurrently): Added this module to run multiply servers.
  bun.lockb
  package.json
Due: none

:bug: bugfix(PaginateViews): Resolved problem with active state on the home page.
  src/components/users-list/Pagination/PaginateViews.vue
Due: bun lint, bun format

:seedling: seed(User): Modified User model and updated it in the database.
  src/components/users-list/UserItem.vue
  src/components/users-list/UsersListTable.vue
  src/types/user.ts
  users.json
Due: bun lint, bun format

:sparkles: feature(EditUserDetailsView): Created an Edit view to update data.
  src/components/InputField.vue
  src/components/PrimaryButton.vue
  src/icons/IconCamera.vue
  src/router/index.ts
  src/server/actions/create-user.ts
  src/server/actions/get-user-by-id.ts
  src/server/actions/update-user-by-id.ts
  src/views/AddUserView.vue
  src/views/EditUserDetailsView.vue
  src/views/UsersListView.vue
Due: bun lint, bun format

:building_construction: arch(components): Changed a structure of this project.
  src/App.vue
  src/components/PaginateButton.vue
  src/components/PaginateViews.vue
  src/components/SearchBar.vue
  src/components/UserHeading.vue
  src/components/UserItem.vue
  src/components/UsersListTable.vue
  src/router/index.ts
  src/shared/ui/Divider.vue
  src/shared/ui/FlexColumn.vue
  src/shared/ui/InputField.vue
  src/shared/ui/PrimaryButton.vue
  src/shared/ui/RootLayout.vue
  src/shared/ui/Title.vue
  src/stores/.gitkeep
  src/views/CreateView.vue
  src/views/EditView.vue
  src/views/HomeView.vue
Due: bun lint, bun format

Path conditions:
  bun test:unit: any of: *.spec.ts
  bun lint: any of: *.vue
  bun format: any of: *.vue
